:root {
	font-family: sans-serif;

	color: black;

	background: LimeGreen;
}

/*
@media (max-width: 1000px) {
	#timer {
		font-size: 40vw !important;
	}
}
*/

@media all and (display-mode: fullscreen) {
	body
	{
		overflow-y: hidden;
	}
	#buttons {
		visibility: hidden;
	}
	p{
		visibility: hidden;
	}
	#timer {
		font-size: 80vmin !important;
	}
}

#timer {
	font-size: 50vmin;

	text-align: center;

	padding: 0;
	margin: 0;
}

p {
	text-align: center;
}

#buttons {
	width: 100%;
	text-align: center;
}

button {
	font-size: 40px;

	margin: 25px;
	padding: 25px;
}

.text-red {
	color: red;
}
