:root {
	font-family: sans-serif;
	
	background: LimeGreen;
}

/*
@media (min-width: 600px) and (orientation: landscape) {
	#timer {
		font-size: 40vw !important;
	}
}
*/

#timer {
	font-size: 50vh;

	text-align: center;

	padding: 0;
	margin: 0;
}

#buttons {
	width: 100%;
	text-align: center;
}

button {
	font-size: 40px;

	margin: 25px;
	padding: 25px;
}

.text-red {
	color: red;
}
